<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Multiplica los Numeros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

      <ion-input type="number" min="1" max="100" [(ngModel)]="num" placeholder="Introduce un numero del 1 al 100">
      </ion-input>
      <ion-input type="number" min="1" max="100" [(ngModel)]="num2" placeholder="Introduce un numero del 1 al 100">
      </ion-input>
      <ion-card>
        <ion-card-content *ngIf="numS > 0">
          La Suma es {{ numS }}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content *ngIf="numR > 0">
          La Resta es {{ numR }}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content *ngIf="numM > 0">
          La Multiplicacion es {{ numM }}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content *ngIf="numD > 0">
          La Division es {{ numD }}
        </ion-card-content>
      </ion-card>

      <ion-button class="boton" (click)="suma()">Sumar</ion-button>
      <ion-button class="boton" (click)="resta()">Restar</ion-button>
      <ion-button class="boton" (click)="multiplicacion()">Multiplicar</ion-button>
      <ion-button class="boton" (click)="division()">Division</ion-button>

      

      <ion-button class="boton2" expand="block" (click)="reinicia()">Volver a jugar1</ion-button>
      <ion-button class="boton1" expand="block" (click)="reinicia()">Volver a jugar2</ion-button>

  </div>
</ion-content>
